@charset "utf-8";

$light-orange: #f25733;
$blue: #3498DB;
$dark-primary: #423D3D;
$light-grey: #EDEDED;

$green: #88C08C;
$yellow: #FFAA33;
$red: #D32F2F;
$fira-sans: 'Fira Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Use Bulma with custom variables
@use "bulma/sass" with ($family-primary: $fira-sans,
    $family-secondary: $quicksand,
    $body-background-color: $light-grey,
    $light: $light-grey,
    $dark: $dark-primary,
    $navbar-height: 5rem,
    $text: $dark-primary,
    $primary: $light-orange,
    $link: $blue,
    $success: $green,
    $warning: $yellow,
    $danger: $red,
    $navbar-background-color: $dark-primary,
);

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@500&display=swap');