@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@500&display=swap');

// create my own variables to use
$light-orange: #f25733;
$light-grey: #ededed; //#C4C4C4;
$dark-primary: #423D3D;

//set the fonts am I doing this correct?
$fira-sans: 'Fira Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$family-secondary: $quicksand;
$family-primary: $fira-sans;

//set some colors
$body-background-color: $light-grey;
$light: $light-orange;
$dark: $dark-primary;

//set navbar variables
$navbar-background-color: $dark-primary;
$navbar-item-color: $light-orange;
$navbar-height: 5rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-burger-color: $light-orange;
$navbar-burger-color: $light-orange;
$navbar-dropdown-background-color: $dark-primary;
$navbar-dropdown-item-hover-background-color: #353131;
$navbar-dropdown-item-active-background-color: #353131;
$navbar-item-active-background-color: #353131;
$navbar-item-hover-background-color:  #353131;



@import "../mybulma/node_modules/bulma/bulma.sass";
