@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Quicksand:wght@500&display=swap');

// create my own variables to use
$light-orange: #FDE1C8;
$light-grey: #C4C4C4;
$banner-background: #423D3D;

//set the fonts am I doing this correct?
$fira-sans: 'Fira Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$family-secondary: $quicksand;
$family-primary: $fira-sans;

//set dark border-color
$dark: $banner-background;

//set background
$body-background-color: $light-grey;

//set navbar variables
$navbar-background-color: $banner-background;
$navbar-item-color: $light-orange;
$navbar-height: 8rem;
$navbar-item-img-max-height: 3.75rem;
$navbar-burger-color: $light-orange;
$navbar-padding-horizontal: 4rem;

@import "../node_modules/bulma/bulma.sass";
